
.nav-collapse {
float:  right;
margin-left: 200px;

}
.nav-item{
    width: auto;
}
.nav-title{
    border: 0px;
    background-color: white;
}
.nav-title:focus,
.nav-title:hover,
.nav-title:active,
.nav-title.active{
    color: white;
    border: 1px solid ;
    border-radius: 5px;
    background-color: gray;
    
}

.nav-button{
    width: 76px;
    height: 33px;
    background-color: #f29e33;
    color: white;
    border: 1px solid white;
    border-radius:  99px;
    margin-top: 5px;
    float: right;
}

.nav-button:hover{
    background-color: rgb(123, 123, 123) ;
    opacity: 0.5;
}


.sp-username{
    color: black;
    font-style: none;
}

.btn-logout{
    background-color: orange;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}