.col-md-3 {
    float: left;
}

h5 {
    margin-left: 10px;
}

ul {
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

li {
    list-style-type: none;
    padding-bottom: 10px;
}

.copy-right {
    text-align: center;
}

.copy-name {
    color: black;
}